body{
    background-color: rgb(11, 11, 48);
}
.contenedor{
    width: 500px;
    min-height: 200px;
    background-color:#ccc;
    margin: 0 auto;
    border: 10px solid lightseagreen;
    padding: 10px;
    
}